* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

a {
  background-color: transparent;
  text-decoration: none;
}
em,i{
  font-style: normal;
}
b,strong{
  font-weight: 100;
}